.container{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 50px;
    z-index: 99;
  }
  
  .container .link {
    opacity: .8;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .container .link:hover {
    opacity: 1;
  }
  
  .container .link .img {
    -webkit-transition: all .7s;
    transition: all .7s;
    width: 70px;
  }
  
  .container .link .img:hover {
    -webkit-transform: scale(1.1) rotate(360deg);
            transform: scale(1.1) rotate(360deg);
  }