.starWrapper img {
    scale: 75%;
    margin-left: -36px;
}

.cardIconContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cardIcon {
    
}

.cardIcon:hover {
    cursor: pointer;
}