.reviewCards {
    width: 28%;
    height: 250px;
    background-color: var(--tertiary-color-0);
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    transition: box-shadow 0.3s ease-in-out;
}
.reviewCards:hover {
    box-shadow: 0px 0px 10px var(--tertiary-color-900);
    scale: 1.01;
}


.cardHeader {
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.photo {
    width: 25%;
}
.photoAvatar {
    margin-top: -8px;
    scale: 0.5;
    border-radius: 50%;
}
.userData {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Kanit', sans-serif;
}
.userData span {
    text-justify: right;
    font-size: small;
    
}
.userData h6 {
    font-weight: bold;
    font-size: large;
    display: flex;
}
.starWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.starWrapper img {
    scale: 65%;
    margin-top: -8px;
    /* margin-left: -112px; */
}


.cardBody {
    height: 65%;
    flex-grow: 1;
    overflow: auto;

}
.cardBody::-webkit-scrollbar {
    width: 5px;
}

.cardBody::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

.cardBody::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 5px;
}
.description {
    font-size: medium;
    padding: 4px;
    margin: 8px 16px;
    word-wrap: break-word;
}


.cardFooter {
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
    margin-bottom: 8px;
}
.cardIcon img {
}
.cardIcon:hover {
    cursor: pointer;
    font-weight: bold;
}
