.image{
    height: 100%;
}
.button{
    background-color: var(--quaternary-color-100);
    color: var(--quaternary-color-700);
    border-color: var(--quaternary-color-700);
}

.button:hover{
    background-color: var(--quaternary-color-400);
    color: var(--quaternary-color-0);
    border-color: var(--quaternary-color-700);
}


.divCard{
    background-color: var(--tertiary-color-0);
}