.page{
    background-color: var(--white-color);
    overflow-x: hidden;
}
.imageSection{
    /* border: 1px solid #000; */
    display: flex;
}
.image{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    margin: 0;
}
.titleSection{
    /* padding-top: 80px; */
    display: flex;
    text-align: center;
    justify-content: center;
}
.descriptionSection{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    text-align:justify;
    justify-content: center;
}
.description{
    width: 80%;
    margin: auto;
}

.contRedes{
    /* border: 1px solid #000; */
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.redesSociales{
    width:50px;
    height:50px;
    margin: 10px;
    
}
.contactSection{
    /* border: 1px solid #000; */
    width: 100%;
    margin-top: 80px;
    padding-bottom: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--quaternary-color-0);
}
.contact{
    width: 100%;
    margin: auto;
}
.contactInfo{
    width: 100%;
    margin: auto;
}
.redes{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    /* border: 1px solid #000; */
    flex-direction: row;

}
.lista{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    border: 1px solid #000; 
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
}
.Cajaredes{

    display: flex;
    justify-content: center;
    /* border: 1px solid #000;   */
    
}
.cardProductContainerContainer {
    /* padding: 2.7rem 0; */
    /* background-image: linear-gradient(to bottom, var(--secondary-color-200), var(--secondary-color-400)); */
}
