.containerContact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 0;
}

.formColumn {
  flex: 1;
  padding: 1rem;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.responsiveImage {
  flex: 1;
  max-width: 30%;
  height: 100%;
  object-fit: cover;
}

.submitButton {
  background-color: black;
  border: none;
  color: white;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submitButton:hover {
  background-color: #444;
}

@media (max-width: 800px) {
  .pagina {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .containerContact {
    flex-direction: column;
    padding: 0;
  }

  .formColumn {
    background-color: transparent;
  }

  .responsiveImage {
    display: none;
  }
}

@media (max-width: 1500px) {
  .containerContact {
    flex-direction: grid;
    align-items: center;
    padding-right: 0;
  }
  .formColumn {
    width: 100%;
    max-width: 500px;
    margin-bottom: 1rem;
    padding: 1rem;
    box-sizing: border-box;
  }
  .responsiveImage {
    width: 100%;
    max-height: 500px;
    margin-bottom: 1rem;
  }
}
