.allContainer {
    background-color:var(--tertiary-color-0)
}
.sec{
    position: relative;

}
.imageFull{
    width: 100%;
    height: 100vh;
    object-fit:cover;
    filter: brightness(50%);
}
.nombre{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 20px;
    z-index: 5;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Marcellus', serif;
    text-shadow: .7px .7px 28px black;
    color: var(--white-color)
}

.cardTitleContainer{
    height: auto;
    margin: 0;
    padding-top: 10vw;
    padding-bottom: 10vw;
    background-image: url(../../../assets/images/billie-holiday.png);
    background-color: var(--tertiary-color-100);
}
.cardTitle{
    padding: 5% 17%;
    font-family: 'Roboto', sans-serif;    font-size: 27px;
    font-weight: 100;
    text-align: center;
    position: relative;
    margin: 0;

}

.cardTitle::before {
    content: "";
    position: absolute;
    left: 20.9%;
    bottom: 58.9%;
    width: 110px;
    height: 5.9px;
    transform: skew(-17deg) translateX(-50%);
    background: var(--primary-color-200);
    opacity: .6;
    z-index: 0;
  }

  .hr{
    height: 2px;
    background-color:    var(--neutral-color-300) ;
    opacity: 1;
    width: 150px;
    margin: auto;

  }
.Title{
    font-family: 'Actor', sans-serif;
    font-size: 22px;
}
.Body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
}
.subtitle {
    font-family: 'Actor', sans-serif;
    font-size: 19px;
    font-weight: 500;
    margin: 0;

}
.includes{
    font-family: 'Kanit', sans-serif;
    margin: 0;


}

@media only screen and (max-width: 1200px) {
    .cardTitle::before{
        display: none;
    }
}

/* 
.image{
    width: 5%;
    height: 5%;
}
.divLocation{
    display: flex;
    flex-direction:row;
    align-items: flex-end;
    justify-content: center;
}
.link{
    display: contents;
}


.colorBackgroundRow{
    background-color: var(--quaternary-color-100);
}
.text{
    text-align: justify;
}
.color{
    background: var(--tertiary-color-0);
}

.divMain{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.divFullCanales{
    width: 100%;
} */