.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;

}
.navBarCustom {
    background-color: var(--tertiary-color-0);
    padding: 0px;
}
.text{
    font-family: 'Marcellus', serif;
    font-size: .90rem;
    font-weight: normal;
    color: var(--tertiary-color-900);
}
.navlogo{
    width: 3.8rem;
}
.text ul {
    background-color: var(--tertiary-color-0);

}
