.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 9999;
}
.navBarCustom {
  background-color: var(--tertiary-color-0);
  padding: 0px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    to right,
    var(--tertiary-color-0),
    var(--tertiary-color-200)
  );
  padding: 0px;
  background-color: var(--tertiary-color-0);
  padding: 0px;
  border-bottom: 2px solid var(--tertiary-color-500);
  background-image: url('https://res.cloudinary.com/dfnw2l08x/image/upload/v1682987366/groovepaper_qqjooj.png');
  background-repeat: repeat;
  background-color: var(--tertiary-color-0);
  padding: 0px;
}
.text {
  font-family: 'Marcellus', serif;
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--tertiary-color-900);
}
.navlogo {
  width: 3.8rem;
}
.text ul {
  background-color: var(--tertiary-color-0);
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

.navBarCustom {
  background-color: var(--tertiary-color-0);
  padding: 0px;
}

.text {
  font-family: 'Marcellus', serif;
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--tertiary-color-900);
}

.text ul {
  background-color: var(--tertiary-color-0);
  list-style: none;
  padding: 0;
}

.text li {
  position: relative;
  margin: 0 1rem; /* puedes ajustar el margen a tu gusto */
}

.text li:hover {
  cursor: pointer;
}

.text li::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--tertiary-color-900);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.text li:hover::after {
  transform: scaleX(1);
}
@media (max-width: 1950px) {
  .text li {
    margin: 0.4rem; /* Reducir el margen entre los elementos */
  }

  .navlogo {
    width: 2.5rem; /* Reducir el tamaño del logo */
  }
}
@media (max-width: 1250px) {
  .text li {
    margin: 0.1rem; /* Reducir el margen entre los elementos */
  }

  .navlogo {
    width: 2.5rem; /* Reducir el tamaño del logo */
  }
}
@media (max-width: 1200px) {
  .text li {
    margin: 0; /* Reducir el margen entre los elementos */
  }

  .navlogo {
    width: 2rem; /* Reducir el tamaño del logo */
  }
  /* .google {
    display: none;
  } */
}
