.divMain{
  background-color: var(--quaternary-color-0);
}
.divCardsBlog {
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  padding-top: 6%;
  padding-bottom: 40px;
}
.divPag{
  height: 38px;
  display: flex;
  justify-content: center;
  background-color: var(--quaternary-color-0);
}

@media (min-width: 1100px) {
  .divCardsBlog {
    grid-template-columns: repeat(2, 1fr);
  }
}
.textCarousel{
  text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 150px;
    font-family: 'Marcellus', serif;
    text-shadow: .7px .7px 28px black;
    color: var(--white-color)
}
.divButtons{
  margin-bottom: 140px;
}
/* .image{
  width: 100%;
  position:absolute;
  top: -130px;
}
.divCarousel{
  height: 360px;
} */
/* .textCarousel{
  position: absolute;
  bottom:100px;
  color: white;
  text-shadow: 2px 2px black;
} */


 .image {
  width: 100%;
  height: 100vh;
  object-fit:cover;
 }
 .divAux{
  height: 40px;
  background-color: var(--quaternary-color-0);
 }
 .buttonPage{
  border: 0px;
  padding: 0px 10px 0px 10px;
  color: var(--quaternary-color-700);
  background-color: var(--quaternary-color-0)
 }
 .buttonPage:hover{
  background-color: var(--quaternary-color-400);
  color: var(--quaternary-color-0);
 }
 .buttonPage2{
  border: 0px;
  padding: 7px 10px 7px 10px;
  color: var(--quaternary-color-700);
  background-color: var(--quaternary-color-0)
 }
 .buttonPage2:hover{
  background-color: var(--quaternary-color-400);
  color: var(--quaternary-color-0);
 }


 .cardsContainer {
  margin-left: 2.3rem;
  gap: 8rem;
  padding: 2rem 0;
  
}
.wrapCards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 100px;
}