
.background {
    position: fixed;
    width: 100vw;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    */
}

.centered{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content{
    width: 40%;
    height: 12rem;
    /* background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(0,0,0,0.2) 30%); */
    /* box-shadow: 0 30px 62px 0 rgba(0, 0, 0, 0.8); */
    /* backdrop-filter: blur( 15px ); */
    /* -webkit-backdrop-filter: blur( 15px ); */
    /* border-radius: 10px; */
    /* border: 1px solid rgba( 255, 255, 255, 0.18 );; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--tertiary-color-100)
    }

.content h1{
    font-weight: 400;
    font-size: 4rem;
    margin: 0%;
    margin-bottom: .5rem;
    padding: 0%;
    color: var(--tertiary-color-500)!important;
    border-bottom: none;
    font-family: 'Marcellus', serif
}
.content h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;

}