.customCaption{
    /* font-size: 16px; */
    /* text-align: start; */
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    /* backdrop-filter: blur( 5px ); */
    padding: 1.5rem 15rem;
    left: 0;
    top: 0;
    width: 100%;
    height: fit-content;
}

.title{
    font-family: 'Kanit', sans-serif;
    font-size: 32px;
}
.body {
    font-family: 'Kanit', sans-serif;
    font-size: 1.1rem;
}
.img {
    filter: brightness(70%); 
    height: 100vh;
    object-fit:cover;
}
