.page {
  overflow-x: hidden;
}
.imageSection {
  /* border: 1px solid #000; */
  display: flex;
}
/* .image{
    width: 80%;
    height: 400px;
    object-fit: cover;
    margin: auto;
} */
.titleSection {
  margin-bottom: 0;
  display: flex;
  text-align: center;
  justify-content: center;
}
.descriptionSection {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  text-align: justify;
  justify-content: center;
}
.description {
  width: 80%;
  margin: auto;
}
.ubicacionSection {
  /* border: 1px solid #000; */
  width: 40%;
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.ubicacion {
  width: 100%;
  margin: auto;
}
.map {
  width: 600px;
  height: 400px;
  object-fit: cover;
  margin: auto;
}
.contRedes {
  /* border: 1px solid #000; */
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.redesSociales {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.contact {
  width: 100%;
  margin: auto;
}
.contactInfo {
  width: 100%;
  margin: auto;
}
.redes {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  /* border: 1px solid #000; */
  flex-direction: row;
}
.lista {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
}
.Cajaredes {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  /* border: 1px solid #000;   */
  background-color: rgba(250, 246, 246, 0.559);
}

.containerReviews {
  background-color: var(--quaternary-color-0);
}


.cardProductContainerContainer {
  min-height: 100%;
  max-height: auto;
}

.container {
  position: relative;
  /* overflow-x: scroll; */
}

.item {
  /* display: inline-block; */
  /* margin-right: 10px; */
  /* height: 10rem; */
  /* width: 10rem; */
  display: none;
  width: 100%;
  filter: brightness(50%);
  position: relative;
  object-fit: cover;
  height: 200px;
  /* display: none; */
}
.encabezado {
  text-align: center;
  position: relative;
  z-index: 5;
  padding: 100px;
  background-color: var(--secondary-color-200);
  margin: 0;
  background-image: url("../../../assets/images/billie-holiday.png");
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
}
.encabezado p{
  color: var(--primary-color-900);
}
.encabezado p:nth-child(2n){
  font-size: 16px;
}

.container a {
  text-decoration: none;
  /* box-shadow: 0 0 10px #bfbfbf; */
}
.visitaContainer {
  padding: 100px 0px;
}

  .hr{
    height: 2px;
    background-color:    var(--neutral-color-700) ;
    opacity: 1;
    width: 130px;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }