.page{
    width: fit-content;
    height: fit-content;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    margin-top: 150px;
    margin-bottom: 50px;
    letter-spacing: 20px;
}
