.foto{
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
}
.descri{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-align: justify;
    padding-right: 50px;
    padding-bottom: 30px;
}

.textConteiner {
    width: 80%;
    /* padding: 5rem 0; */
    text-align: center;
    text-align: justify;
    font-family: 'Kanit', sans-serif;
    padding-bottom: 40px;
}
.title {
    padding: 0px 4px 13px;
    text-align: initial;
  }
.card{
    border:none;
    padding-top: 20px;
    background-color: var(--quaternary-color-0);
    align-items: center;
}
.divTextImg{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.footer{
    line-height:0px;
}