.wrapCart{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 999;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.wrapItems{
    background-color: rgba(255,255,255,1);
    max-width: 35rem;
    min-width: 25rem;
    max-height: 70vh;
    margin-bottom: .5rem;
    overflow: hidden;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0px 12px 50px 11px rgba(0, 0, 0, 0.56);
-webkit-box-shadow: 0px 12px 50px 11px rgba(0, 0, 0, 0.56);
}

.items{
    width: 100%;
    max-height: 30rem;
    overflow-y: auto;
    /* border: solid 1px #ccc; */
    border-radius: .5rem;
}

.productItem{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: #f2f2f2;
    border-radius: .3rem;
    /* border: solid 1px #e2e2e2; */
    padding: .5rem;
    transition: all .2s ease-in-out;
    margin-bottom: .5rem;
}

.productItem:hover{
    background-color: rgb(253, 255, 222);
}

.productItem img{
    width: 7rem;
    height: auto;
    border-radius: .3rem;
}


.productItem h3{
    font-size: 1.3rem;
    margin: 0%;
    padding: 0%;
}

.productItem .label{
    color: #363636;
}


.productItem .label span{
    font-weight: 700;
    font-size: 1.1rem;
    margin-left: .5rem;
}


.productItem .label button{
    border: solid 1px #ccc;
    padding: .1rem .3rem;
    margin: 0rem .3rem;
}

.wrapCart .itemsCount{
    background-color: rgba(255,0,0,.7);
    color: #fff;
    border-radius: 1rem;
    position: absolute;
    padding: .1rem .5rem;
    bottom: 1.5rem;
    right: -.5rem;
    font-size: .8rem;
}


.wrapCart .resume{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.wrapCart .resume p{
    margin: 0%;
    padding: 0%;
    font-size: 1.2rem;
    color: #a1a1a1;
}


.wrapCart .resume p span{
    font-weight: 700;
    color: #363636;
}