.containerContact {
  width: 100%;
  font-family: 'Kanit', sans-serif;
  z-index: 1;

}
.containerContactInside {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--quaternary-color-100);
  background-image: url("../../../assets/images/billie-holiday.png");
  padding-bottom: 40px;

}
.containerContactInsideAll {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: none;
}
.containerContactInsideAll {
}
.inputsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputsContainer input {
  width: 50%;
  border-color: black;
}
.inputsContainer textarea {
  width: 50%;
}

.submitButton {
  background-color: var(--quaternary-color-200);
  border: none;
}

.submitButton:hover {
  background-color: var(--quaternary-color-400);
}

.mensajeerror {
  color: red;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  margin-top: 2px;
}

.nombredeform {
  height: 60px;
  display: flex;
  flex-wrap: wrap;
}

.pagina {
  padding-top: 2rem;
  height: 93vh;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  background-image: url('https://res.cloudinary.com/dfnw2l08x/image/upload/v1682798267/hoviajes-costa-rica_r4zbpm.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* @media screen and (max-width: 1085px) {
  .footer {
    position: absolute;
    bottom: -50px; /* ajustar el valor para que quede detrás del containerContact 
    height: 20%;
  }
  .containerContact {
    width: 90%; 
    height: 1px;
    font-family: 'Kanit', sans-serif;
    z-index: 1;
    position: relative;
  }
}

@media screen and (max-width: 708px) {
  .footer {
    position: inherit;
    bottom: 0;
    height: 10%;
  }
  .containerContact {
    width: 90%;
    height: 1px;
    font-family: 'Kanit', sans-serif;
    z-index: 1;
  }
}
@media screen and (max-width: 508px) {
  .footer {
    position: absolute;
    bottom: 0;
    height: 10%;
    display: none;
  }
  .containerContact {
    width: 100%;
    font-family: 'Kanit', sans-serif;
    z-index: 1;
  }
}
.mymodal {
}
 */
 .mymodalheader {
  background-color: var(--tertiary-color-0);
  color: var(--primary-color-200);
  border-bottom: 1px solid var(--primary-color-200);
}

.botonalert {
  background-color: var(--primary-color-100);
  color: var(--primary-color-400);
  border: 1px solid var(--primary-color-200);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.mensajealert {
  color: green;
  display: flex;
  justify-content: end;
  font-weight: 500;
  font-size: 14px;
  margin-top: 2px;
}
