.threadContainer {
    height: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 24px;
}
.closeButton {
    width: 24px;
}
.commentPanel {
    width: 60%;
    overflow: auto;
    border-radius: 8px;
    border: 1px solid var(--tertiary-color-500);
    background-color: white;
    padding: 16px;
}
.commentPanel::-webkit-scrollbar {
    width: 5px;
}

.commentPanel::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

.commentPanel::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 5px;
}
.commentForm {
    width: 30%;
    height: 218px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.submitButton {
    margin: 4px;
    padding: 4px 8px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid var(--tertiary-color-700);
    background-color: transparent;
    color: var(--tertiary-color-700);
}
.submitButton:hover {
    cursor: pointer;
    background-color: var(--tertiary-color-700);
    color: var(--tertiary-color-0);
}
