.imageSection{
    /* border: 1px solid #000; */
    display: flex;
}
.image{
    width: 80%;
    height: 400px;
    object-fit: cover;
    margin: auto;
}
.titleSection{
    margin-top: 80px;
    margin-bottom:0;
    display: flex;
    text-align: center;
    justify-content: center;
}
.descriptionSection{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    text-align:justify;
    justify-content: center;
}
.description{
    width: 80%;
    margin: auto;
}
.ubicacionSection{
    /* border: 1px solid #000; */
    width: 40%;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.ubicacion{
    width: 100%;
    margin: auto;
}
.map{
    width: 600px;
    height: 400px;
    object-fit: cover;
    margin: auto;
}
.contRedes{
    /* border: 1px solid #000; */
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.redesSociales{
    width:50px;
    height:50px;
    margin: 10px;
    
}
.contactSection{
    /* border: 1px solid #000; */
    width: 40%;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contact{
    width: 100%;
    margin: auto;
}
.contactInfo{
    width: 100%;
    margin: auto;
}
.redes{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    /* border: 1px solid #000; */
    flex-direction: row;

}
.lista{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    border: 1px solid #000; 
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
}
.Cajaredes{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    /* border: 1px solid #000;   */
    background-color: rgba(250, 246, 246, 0.559);
    
}